# Calls /usr/lib/apt/apt.systemd.daily install

[Unit]                                                                                                                                                                                                             
Description=Daily apt upgrade and clean activities
DefaultDependencies=no
After=apt-daily.service
After=network.target
After=network-online.target
After=systemd-networkd.service
After=NetworkManager.service
After=connman.service
Before=shutdown.target
Before=halt.target

[Service]
Type=oneshot
ExecStartPre=-/usr/lib/apt/apt-helper wait-online
ExecStart=/usr/lib/apt/apt.systemd.daily install
KillMode=process
TimeoutStopSec=900

[Install]
WantedBy=shutdown.target
WantedBy=halt.target